.profile__edit-button {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: url(../../../images/eddit-button.svg) no-repeat center;
}

.profile__edit-button:hover {
  opacity: .6;
  transition: opacity .5s linear;
}

@media screen and (max-width: 710px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}