.header__logo {
  width: 143px;
  height: 33px;
  background-image: url(../../../images/logo.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.header__logo:hover {
  opacity: .6;
  transition: opacity .5s linear;
}

@media screen and (max-width: 984px) {
  .header__logo {
    left: 27px;
  }
}

@media screen and (max-width: 568px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}