.popup__form {
  width: 358px;
  height: 212px;
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 568px) {
  .popup__form {
    width: 238px;
    height: 175px;
    margin-bottom: 25px;
  }
}